.CardContainer {
  margin-left: 10px;
}

.cardTopContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
  /* margin-bottom: -20px; */
  /* height: 170px; */
}

.boxTopContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardTopContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.cardMedia {
  margin: 10px;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  flex-shrink: 0;
  flex-grow: 0;
}

.chip {
  margin: 5px;
}

.addressDiv {
  margin-bottom: 20px;
}

.address {
  flex-basis: 250px;
}

.addressDiv,
.phoneNumberDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating {
  margin-left: 5px 5px 15px -9px;
}

.cardBottomContent {
  padding: 15px;
}

.chipDiv {
  margin-bottom: 20px;
}
